:root {
  --primary-color: #4d7c8a;
  --secondary-color: #7f9c96;
  --tertiary-color: #1b4079;
}

/* Base Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  margin: auto;
  padding: 2rem;
  overflow: hidden;
}

.card {
  background: var(--secondary-color);
  padding: 15px;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--tertiary-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #666 solid 1px;
  width: 90%;
}

/* Navbar */

.navbar {
  display: grid;
  background-color: var(--primary-color);
  color: #fff;
  grid-template-columns: 5fr 2fr 2fr 2fr;
  padding: 1rem;
  align-items: center;
}

.navbar h4:hover {
  color: var(--tertiary-color);
  cursor: pointer;
}

.navbar a {
  color: #fff;
  padding: 10px 25px;
  margin: 0 5px;
  text-align: center;
  border-bottom: 2px transparent solid;
}

.navbar a:hover {
  color: var(--tertiary-color);
  border-bottom: var(--tertiary-color) 2px solid;
}

.navbar form {
  align-items: center;
}

.logout {
  justify-self: center;
}

.logout input {
  align-items: center;
}

i {
  margin-right: 5px;
}

/* Workouts */

#workouts-container {
  display: grid;
  grid-template-columns: repeat(1, 0.5fr);
  grid-gap: 1rem;
  justify-content: center;
  margin: 30px;
}

.workout {
  background-color: #f4f4f4;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.workout:hover {
  background-color: #eee;
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--secondary-color);
}

/* Form */

.form {
  display: grid;
  grid-template-columns: repeat(1, 0.5fr);
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}
